<div class="page-header">
  <%= link_to image_tag("bizpeach.png", alt: "Company logo") %>
</div>
<div>
  <p class="lead">注意</p>
  <p>このサイトは、脆弱性攻撃デモのために作成されたサイトです。<br>またこのサイトに出てくる固有名詞は<strong><span style="color:red;">実在する企業とは一切関係がありません。</span></strong></p>
</div>
